body {
  background-color: #dbf6e9;
  color: #162447;
  /* font-family: "Press Start 2P", cursive; */
}

.App {
  text-align: center;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 55px;
}
